<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="shop.io Selenium Suite" verbose="1">

    <listeners>
        <listener class-name="com.example.shop.selenium.listeners.ExtentReportListener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="com.example.shop.selenium.tests.HomePageTest"/>
            <class name="com.example.shop.selenium.tests.AddToCartTest"/>
            <class name="com.example.shop.selenium.tests.CheckoutTest"/>
            <class name="com.example.shop.selenium.tests.OrdersPageTest"/>
        </classes>
    </test>
</suite>
